global:
  registry: "junoinnovations"                               # Global registry to use for all images if not overridden

image:
  repository: "genesis"
  tag: "v2.3.1"
image_pull_secret:                          # Image pull secret to use for the project. This is the name of the secret in the namespace
host:                                       # Hostname to use for the Genesis ingress
pull_policy: Always                         # Pull policy to use for the Genesis image
env: {}                                     # Environment variables to set for the Genesis server
node_selector:                              # Node selector to deploy the Genesis server to
  enable: true                              # Enable node selector
  labels:                                   # Node selector to deploy the Genesis server to
    juno-innovations.com/service: "true"

# Primarily used for Juno-internal development to inject annotations to resources
extra_annotations: {}
genesis_token_creation_extra_annotations: {}


# https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
# If you run powerful controlplane nodes, you can reuse them to host core Orion services.
tolerations: []

titan:
  tolerations: []
  extra_annotations: []
  image:
    repository: "titan"
    tag: "v1.1.0"
  owner: bob                                # Owner of the cluster
  email: test@email.com                     # Email for the owner of the cluster
  uid: 1005                                 # UID of the owner of the cluster
  node_selector:                            # Node selector to deploy the Titan server to
    labels:                                 # Node selector to deploy the Titan server to
      juno-innovations.com/service: "true"
  autoscaling:
    min_replicas: 1                         # Minimum number of replicas to run
    max_replicas: 3                         # Maximum number of replicas to run

terra:
  tolerations: []
  extra_annotations: []
  image:
    repository: "terra"
    tag: "v1.1.0"
  node_selector:                            # Node selector to deploy the Titan server to
    labels:                                 # Node selector to deploy the Titan server to
      juno-innovations.com/service: "true"
  resources:
    requests:
      cpu: 500m
      memory: 200Mi
    limits: {}
  autoscaling:
    min_replicas: 1                         # Minimum number of replicas to run
    max_replicas: 3                         # Maximum number of replicas to run

rhea:
  image:
    repository: "rhea"
    tag: "v0.0.1"
  env: {}                                   # Environment variables to set for Rhea
  resources:
    requests:
      cpu: 200m
      memory: 100Mi
    limits:
      cpu: 350m
      memory: 250Mi

ingressClassName: nginx
