apiVersion: apps/v1
kind: Deployment
metadata:
  name: titan
  namespace: argocd
spec:
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: titan

  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 50%
    type: RollingUpdate

  template:
    metadata:
      annotations:
        # Allow for footprint consolidation
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
{{- range $key, $value := .Values.titan.extra_annotations }}
        {{ $key }}: "{{ $value }}"
{{- end }}
      labels:
        app: titan

    spec:
      {{- if .Values.titan.tolerations }}
      tolerations:
        {{- toYaml .Values.titan.tolerations | nindent 8 }}
      {{- end }}
      serviceAccountName: titan
      nodeSelector:
        {{- range $key, $value := .Values.titan.node_selector.labels }}
        {{ $key }}: "{{ $value }}"
        {{- end }}
      {{- if .Values.image_pull_secret }}
      imagePullSecrets:
        - name: {{ .Values.image_pull_secret }}
      {{- end }}
      containers:
        - name: titan
          imagePullPolicy: {{ .Values.pull_policy }}
          image: "{{ .Values.global.registry }}/{{ .Values.titan.image.repository }}:{{ .Values.titan.image.tag }}"
          env:
            - name: ORION_OWNER
              value: {{ .Values.titan.owner }}
            - name: ORION_EMAIL
              value: {{ .Values.titan.email }}
            - name: ORION_OWNER_UID
              value: "{{ .Values.titan.uid }}"
          resources:
            requests:
              cpu: 500m
              memory: 200Mi
          ports:
            - containerPort: 8000
              name: endpoint
        - name: rhea
          image: "{{ .Values.global.registry }}/{{ .Values.rhea.image.repository }}:{{ .Values.rhea.image.tag }}"
          imagePullPolicy: {{ .Values.pull_policy }}
          {{- with .Values.rhea.env }}
          env:
            {{- toYaml .Values.rhea.env | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 13000
              name: auth
          volumeMounts:
            - name: policies
              mountPath: /etc/rhea/policies
              readOnly: true
          livenessProbe:
            httpGet:
              path: /.health
              port: 13000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /.health
              port: 13000
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: policies
          configMap:
            name: orion-systempolicy
